.altquiz-header {
  height: 50px;
  background-color: $indigo-main;

  h1 {
    margin: 0px;
    padding: 5px 15px;
    color: $indigo-light;
    display: inline;
    height: 50px;
    line-height: 50px;
  }
}
