$header-height: 50px;

.altquiz-header {
  display: flex;
  background-color: $indigo-main;
  padding: 10px 20px;

  h1, div {
    margin: 0px 10px;
  }

  h1 {
    color: $indigo-light;
    display: inline;
  }
}
